.Main_Buttons {
	margin: 10px;
	max-height: 200%;
	max-width: 200%;
	min-height: 1%;
	
}

.center-text {
    text-align: center;
}

.center-grid {
	justify-content: center;
}

.intro-backdrop {
    background-color: #ffffff;
    background-image: url("media/intro_backdrop.jpg");
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.card-title--text-color {
	opacity: 0.80;
	color: #E040FB;
}

.creative-card-image-1.mdl-card {
    width: 256px;
    height: 256px;
    background: url('../media/team-1.jpg') center / cover;
}

.creative-card-image-1 > .mdl-card_actions {
	height: 32px;
	width: 256px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
}

.creative-card-image-1_filename {
	color: #fff;
	font-size: 24px;
	font-weight: 500;

}

.creative-card-desc.mdl-card {
	#width: 256px;
	min-width: 512px;
	height: 256px;

}

.creative-card-image-2.mdl-card {
    width: 256px;
    height: 256px;
    background: url('../media/team-2.jpg') center / cover;
}

.creative-card-image-2 > .mdl-card_actions {
	height: 32px;
	width: 256px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
}

.creative-card-image-2_filename {
	color: #fff;
	font-size: 24px;
	font-weight: 500;

}

.about_us {
	min-height: 225px;
}

a {
	color: white;
}

.main-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}
.navbtn {
color:#424242;
text-decoration:none;
margin:0;
font-size:14px;
font-weight:400;
line-height:24px;
letter-spacing:0;
opacity:.87;
vertical-align:middle;
display:block;
will-change:none;
transition:none;
}	
.navbtn:hover{background-color:rgba(158,158,158,.0)}
.navbtn:focus:not(:active){background-color:rgba(0,0,0,.0)}
.navbtn:active{background-color:rgba(158,158,158,.0)}
.navbtn.navbtn--colored{color:rgb(76,175,80)}
.navbtn.navbtn--colored:focus:not(:active){background-color:rgba(0,0,0,.0)}
input.navbtn[type="submit"]{-webkit-appearance:none}